{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <h1 class="ml-3 mr-3 mb-3 pt-4 pb-3 m-md-5 show-title text-center" id="representation">Nos artistes</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary">Rechercher</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <hr/>

    <div class="container mb-5">
        <div class="row">
            {% for artist in artists %}

                <div class="col-sm-3 m-4">
                    <div class="profile-card-team">
                        <div class="profile-img">
                            <img src="{% if artist.imageName is empty %}
                    {{ asset('build/acrobat.jpg') }}
                      {% else %}
                    {{ vich_uploader_asset(artist, 'imageFile') }}
                    {% endif %}"
                                 alt="{{ artist.firstname }}" class="Team-picture w-100" alt="Team Image">
                        </div>
                        <div class="profile-content">
                            <h2 class="title">{{ artist.firstname }}
                                <span>{{ artist.birthday ? artist.birthday|date('Y-m-d') : '' }}</span>
                                <span>{{ artist.role }}</span>
                            </h2>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
