<!-- Footer -->
    <footer class="page-footer font-small pt-5 pb-5">

        <div class="container circus-footer text-center pb-5">

            <div class="row text-center text-md-left mt-3 pb-3">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a class="logo-footer" href="{{ path('home') }}"><img
                                src="{{ asset('build/wild-circus-logo.png') }}" alt="logo" class="logo-footer"
                                height="100"></a>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">À propos</h5>
                    <div>
                        <a class="footer-link" href="{{ path('team') }}">L'équipe</a>
                    </div>
                    <div>
                        <a class="footer-link" href="#">Mentions légales</a>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Service clients</h5>
                    <div>
                        <a class="footer-link" href="{{ path('home') }}#prices">Tarifs</a>
                    </div>

                    <div>
                        <a class="footer-link" href="{{ path('reservation') }}">Réserver</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
<!-- Footer -->
