<nav class="mb-1 navbar_admin navbar-expand-lg navbar-light position-fixed">
    <div class="nav_admin_picture pt-5 mb-5">
        <ul class="navbar-nav picture_admin ml-auto">
            <li class="nav-item avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle"
                     alt="avatar image" height="50">
                <p>ADMIN</p>
            </li>
        </ul>
    </div>
    <hr>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="nav-title">
            <li class="nav-item">
                <a class="nav-link mb-5" href="{{ path('admin_artist_index') }}"><span
                            class="nav-effect">L'EQUIPE</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-5" href="{{ path('admin_category_index') }}"><span
                            class="nav-effect">UNIVERS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-5" href="{{ path('admin_representation_index') }}"><span
                            class="nav-effect">SPECTACLES</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-5" href="{{ path('admin_price_index') }}"><span
                            class="nav-effect">TARIFS</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-5" href="{{ path('home') }}"><span
                            class="nav-effect">ACCÈS AU SITE</span></a>

            </li>
        </ul>
    </div>
    <div class="navbar_admin_logo pt-3 mb-5">
        <a class="navbar-brand ml-2" href="{{ path('admin_index') }}"><img
                    src="{{ asset('build/wild-circus-logo.jpg') }}" alt="logo" height="80"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
